<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TaskMapper">
    <select id="findAllTask" resultType="com.example.demo.entity.TaskMngTbl">
        select 
            id,
            title,
            content,
            delflg,
            compflg,
            newdate,
            newtime,
            upddate
        from TASKMNGTBL
    </select>

    <insert id="registTask" parameterType="com.example.demo.entity.TaskMngTbl">
        INSERT INTO TASKMNGTBL(
            title,
            content,
            delflg,
            compflg,
            newdate,
            newtime,
            upddate
        ) VALUES (
            #{title},
            #{content},
            #{delflg},
            #{compflg},
            #{newdate},
            #{newtime},
            #{upddate}
        )
    </insert>

    <select id="findOne" resultType="com.example.demo.entity.TaskMngTbl">
    select 
        id,
        title,
        content,
        delflg,
        compflg,
        newdate,
        newtime,
        upddate
    from TASKMNGTBL
    where id=#{id}
    </select>

    <update id="updateTask" parameterType="com.example.demo.entity.TaskMngTbl">
    UPDATE TASKMNGTBL
    SET
        title=#{title},
        content=#{content},
        upddate=#{upddate}
    WHERE id=#{id}
    </update>

    <update id="completeTask" parameterType="com.example.demo.entity.TaskMngTbl">
    UPDATE TASKMNGTBL
    SET
        compflg=true
    WHERE id=#{id}
    </update>
</mapper>